extends layout

block content
  div
    nav.navbar.navbar-inverse(role='navigation')
      h1.VEP Vehicle Event Profile
  div
    .jumbotron
      h1 Welcome to your Vehicle Profile!
      h2 This will be the home of all your vehicle data.
      p Check the database for vehicle events to get started!
      p
        a#getVehicleData.btn.btn-primary.btn-lg(href='#', role='button') Get Vehicle Event Data
      h3 Your Vehicle
      ul
        li Make: Subaru
        li Model: Impreza
        li Trim: WRX
        li Body: Wagon
        li Mileage: 102,052mi
        li
          | Events: 
          a(href='#') add Events!
    footer.footer
      .container
        p.text-muted
    script(src='./javascripts/c2.js')